<h2><%= @account.name %></h2>

<p>
  <%= number_to_currency(@account.balance) %>
</p>

<% unless @account.envelopes.empty? %>
  <% @account.envelopes.each do |envelope| %>
    <h3>Envelope Name</h3>
    <%= link_to envelope.name, account_envelope_path(@account, envelope) %>
    <p>Envelope Balance</p>
    <%= number_to_currency(envelope.balance) %>
  <% end %>
<% end %>

<h2>Make Deposit</h2>
<%= form_for @account, url: deposit_path(@account) do |f| %>
  <%= f.label "Deposit Amount of"%>
  <%= f.text_field :balance, autofocus: true, value: 'Amount' %>
  <%= f.submit "into my #{@account.name} account"%>
<% end %>

<h2>Make Withdrawal</h2>
<%= form_for @account, url: withdrawal_path(@account) do |f| %>
  <%= f.label "Withdraw Amount of"%>
  <%= f.text_field :balance, autofocus: true, value: 'Amount' %>
  <%= f.submit "from my #{@account.name} account"%>
<% end %>

<%= link_to "Edit Account", edit_account_path(@account) %>
